
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bangers&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yuji+Mai&display=swap');

* {
	font-family: "Arial" !important;
	font-style: normal;
  }
  
  

ytd-rich-item-renderer{
	
	border: white;
}

yt-formatted-string{
	text-align: center;
	border-radius: 6px;
}

yt-formatted-string:hover{
	transition: 1s;
	
	border: 0.5px solid white;
	color: azure;
}
