
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
*{
	color: white;
	font-weight: 400;
}

tp-yt-app-drawer{
	border: 2px solid white;
	border-radius: 6px;
}
ytd-rich-item-renderer{
	border: white;
}
span{
	color: white;
	
}
	
/*
yt-image{
	border: 2px solid red;
}
*/
yt-formatted-string{
	text-align: center;
}
/*comentários do you tube*/
.yt-core-attributed-string--white-space-pre-wrap{
	color: whitesmoke;

}

yt-formatted-string:hover{

  border: 1px solid rgb(250,200, 0, 1.0);
  border-radius: 6px;
  color: rgb(250,200, 0, 1.0);
}


/*titulos dos videos*/
span{
	color: white;
	background-color: red;
	border: 2px solid red;
}
	
span:hover{
	color:rgb(220,170, 0, 1.0);

}
/*fotos dos usuarios*/
.style-scope yt-img-shadow{
	border: 1px solid white;
}

yt-spec-touch-feedback-shape__fill{
    color:red;
    background-color: red;
    border: 2px solid red;
}
/*botoes de like e dislike*/

.YtDislikeButtonViewModelHost{
    padding: 0%;
    border-radius: 6px;
    background-color: red;
}
.YtLikeButtonViewModelHost{
    color:green;
    padding: auto;
    border-radius: 6px;
    background-color: red;
}
/*
#container{
	background-image: url("https://images.unsplash.com/photo-1489189642444-0709966aec44?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
body ytd-app{
	background-image: url("https://images.unsplash.com/photo-1489189642444-0709966aec44?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
*/
